.venv
__pycache__
*.py[oc]
*.egg-info
.git
.env
.env-example
.pytest_cache
.idea
.vscode
.DS_Store
tests/
notebooks
Dockerfile
.dockerignore
Makefile
README.md
.pre-commit-config.yaml
.terraform/
*.tfstate*
deploy.sh
.python-version
pytest.ini
